<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>国际酒店</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Stylesheets -->
  <!-- Dropdown Menu -->
  <link rel="stylesheet" href="css/superfish.css">
  <!-- Owl Slider -->
  <!-- <link rel="stylesheet" href="css/owl.carousel.css"> -->
  <!-- <link rel="stylesheet" href="css/owl.theme.default.min.css"> -->
  <!-- Date Picker -->
  <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
  <!-- CS Select -->
  <link rel="stylesheet" href="css/cs-select.css">
  <link rel="stylesheet" href="css/cs-skin-border.css">

  <!-- Themify Icons -->
  <link rel="stylesheet" href="css/themify-icons.css">
  <!-- Flat Icon -->
  <link rel="stylesheet" href="css/flaticon.css">
  <!-- Icomoon -->
  <link rel="stylesheet" href="css/icomoon.css">
  <!-- Flexslider  -->
  <link rel="stylesheet" href="css/flexslider.css">

  <!-- Style -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Modernizr JS -->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <link rel="stylesheet" type="text/css" href="ele/index.css" />
</head>

<body>
  <div id="index">
    <div id="fh5co-wrapper">
      <div id="fh5co-page">
        <div id="fh5co-header">
          <header id="fh5co-header-section">
            <div class="container">
              <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                <h1 id="fh5co-logo"><a href="index.html">hotel</a></h1>
                <nav id="fh5co-menu-wrap" role="navigation">
                  <ul class="sf-menu" id="fh5co-primary-menu">
                    <li><a class="active" href="index.html">网站首页</a></li>
                    <li><a href="hotel.html">房间介绍</a></li>
                    <li><a href="services.html">服务介绍</a></li>
                    <li><a href="blog.html">新闻中心</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                    <li>
                      <a v-if="temp" @click="login">Login</a>
                      <a v-else href="person.html">个人中心</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </header>

        </div>
        <!-- end:fh5co-header -->
        <aside id="fh5co-hero" class="js-fullheight">
          <div class="flexslider js-fullheight">
            <ul class="slides">

              <li style="background:url(images/slider1.jpg)">
                <div class="overlay-gradient"></div>
                <div class="container">
                  <div class="col-md-12 col-md-offset-0 text-center slider-text">
                    <div class="slider-text-inner js-fullheight">
                      <div class="desc">
                        <p><span>家庭套餐</span></p>
                        <h2>享受家人美好时光</h2>
                        <p>
                          <a href="hotel.html" class="btn btn-primary btn-lg">立刻预定</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li style="background:url(images/slider2.jpg)">
                <div class="overlay-gradient"></div>
                <div class="container">
                  <div class="col-md-12 col-md-offset-0 text-center slider-text">
                    <div class="slider-text-inner js-fullheight">
                      <div class="desc">
                        <p><span>家庭套餐</span></p>
                        <h2>享受家人美好时光</h2>
                        <p>
                          <a href="hotel.html" class="btn btn-primary btn-lg">立刻预定</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li style="background:url(images/slider3.jpg)">
                <div class="overlay-gradient"></div>
                <div class="container">
                  <div class="col-md-12 col-md-offset-0 text-center slider-text">
                    <div class="slider-text-inner js-fullheight">
                      <div class="desc">
                        <p><span>家庭套餐</span></p>
                        <h2>享受家人美好时光</h2>
                        <p>
                          <a href="hotel.html" class="btn btn-primary btn-lg">立刻预定</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </aside>
        <div class="wrap">
          <div class="container">
            <div class="row">

            </div>
          </div>
        </div>

        <div id="fh5co-counter-section" class="fh5co-counters">
          <div class="container">
            <div class="row">

            </div>
          </div>
        </div>


        <div id="featured-hotel" class="fh5co-bg-color">
          <div class="container">

            <div class="row">
              <div class="col-md-12">
                <div class="section-title text-center">
                  <h2>精品套餐</h2>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="feature-full-1col">
                <div class="image" :style="{background: 'url('+getUrl(one.image)+')'}">
                  <div class="descrip text-center">
                    <p><small>最低</small><span>￥{{one.price}}/天</span></p>
                  </div>
                </div>
                <div class="desc">
                  <h3>{{one.tname}}</h3>
                  <p>
                    {{one.ttext}}
                  </p>
                  <p><a @click="info(one)" class="btn btn-primary btn-luxe-primary" style="cursor: pointer;">立即预定<i
                        class="ti-angle-right"></i></a></p>
                </div>
              </div>

              <div class="feature-full-2col">
                <div class="f-hotel" v-for="t in types">
                  <div class="image" :style="{background: 'url('+getUrl(t.image)+')'}">
                    <div class="descrip text-center">
                      <p><small>最低</small><span>￥{{t.price}}/天</span></p>
                    </div>
                  </div>
                  <div class="desc">
                    <h3>{{t.tname}}</h3>
                    <p>
                      {{t.ttext}}</p>
                    <p><a @click="info(t)" class="btn btn-primary btn-luxe-primary" style="cursor: pointer;">立即预定 <i
                          class="ti-angle-right"></i></a></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div id="hotel-facilities">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title text-center">
                  <h2>酒店特色</h2>
                </div>
              </div>
            </div>

            <div id="tabs">
              <nav class="tabs-nav">
                <a href="#" class="active" data-tab="tab1">
                  <i class="flaticon-restaurant icon"></i>
                  <span>餐厅</span>
                </a>
                <a href="#" data-tab="tab2">
                  <i class="flaticon-cup icon"></i>
                  <span>酒吧</span>
                </a>
                <a href="#" data-tab="tab3">

                  <i class="flaticon-car icon"></i>
                  <span>接送</span>
                </a>
                <a href="#" data-tab="tab4">

                  <i class="flaticon-swimming icon"></i>
                  <span>泳池</span>
                </a>
                <a href="#" data-tab="tab5">

                  <i class="flaticon-massage icon"></i>
                  <span>Spa</span>
                </a>
                <a href="#" data-tab="tab6">

                  <i class="flaticon-bicycle icon"></i>
                  <span>健身</span>
                </a>
              </nav>
              <div class="tab-content-container">
                <div class="tab-content active show" data-tab-content="tab1">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <img src="images/tab_img_1.jpg" class="img-responsive" alt="Image">
                      </div>
                      <div class="col-md-6">
                        <span class="super-heading-sm">WORLD ClASS</span>
                        <h3 class="heading">餐厅</h3>
                        <p>
                          这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍
                          这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍
                          这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍
                        </p>
                        <p>
                          这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍
                          这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍
                          这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍这是餐厅的详细介绍
                        </p>
                        <p class="service-hour">
                          <span>服务时间</span>
                          <strong>7:30 AM - 8:00 PM</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content" data-tab-content="tab2">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <img src="images/tab_img_2.jpg" class="img-responsive" alt="Image">
                      </div>
                      <div class="col-md-6">
                        <span class="super-heading-sm">World Class</span>
                        <h3 class="heading">酒吧</h3>
                        <p>
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                        </p>
                        <p>
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                        </p>
                        <p class="service-hour">
                          <span>服务时间</span>
                          <strong>7:30 AM - 8:00 PM</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content" data-tab-content="tab3">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <img src="images/tab_img_3.jpg" class="img-responsive" alt="Image">
                      </div>
                      <div class="col-md-6">
                        <span class="super-heading-sm">World Class</span>
                        <h3 class="heading">接送</h3>
                        <p>
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                        </p>
                        <p>
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                        </p>
                        <p class="service-hour">
                          <span>服务时间</span>
                          <strong>7:30 AM - 8:00 PM</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content" data-tab-content="tab4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <img src="images/tab_img_4.jpg" class="img-responsive" alt="Image">
                      </div>
                      <div class="col-md-6">
                        <span class="super-heading-sm">World Class</span>
                        <h3 class="heading">泳池</h3>
                        <p>
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                        </p>
                        <p>
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                        </p>
                        <p class="service-hour">
                          <span>服务时间</span>
                          <strong>7:30 AM - 8:00 PM</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content" data-tab-content="tab5">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <img src="images/tab_img_5.jpg" class="img-responsive" alt="Image">
                      </div>
                      <div class="col-md-6">
                        <span class="super-heading-sm">World Class</span>
                        <h3 class="heading">Spa</h3>
                        <p>
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                        </p>
                        <p>
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                        </p>
                        <p class="service-hour">
                          <span>服务时间</span>
                          <strong>7:30 AM - 8:00 PM</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content" data-tab-content="tab6">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <img src="images/tab_img_6.jpg" class="img-responsive" alt="Image">
                      </div>
                      <div class="col-md-6">
                        <span class="super-heading-sm">World Class</span>
                        <h3 class="heading">健身</h3>
                        <p>
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                        </p>
                        <p>
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                          这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍这是关于这的详解介绍
                        </p>
                        <p class="service-hour">
                          <span>服务时间</span>
                          <strong>7:30 AM - 8:00 PM</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="testimonial">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title text-center">
                  <h2>顾客的快乐时光</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="testimony">
                  <blockquote>
                    &ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of charge to
                    the
                    Premium Suite, thanks so much&rdquo;
                  </blockquote>
                  <p class="author"><cite>John Doe</cite></p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="testimony">
                  <blockquote>
                    &ldquo;我和我的丈夫在这里有一个非常棒的周末，这里的服务很棒，服务员也很友好，乐于服务，真的好评，下次还会来的&rdquo;
                  </blockquote>
                  <p class="author"><cite>红</cite></p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="testimony">
                  <blockquote>
                    &ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of charge to
                    the
                    Premium Suite, thanks so much&rdquo;
                  </blockquote>
                  <p class="author"><cite>Jane Doe</cite></p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div id="fh5co-blog-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title text-center">
                  <h2>最新资讯</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="blog-grid" style="background-image: url(images/image-1.jpg);">
                  <div class="date text-center">
                    <span>09</span>
                    <small>8/Aug</small>
                  </div>
                </div>
                <div class="desc">
                  <h3><a href="blog-detail.html">最有价值的酒店</a></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="blog-grid" style="background-image: url(images/image-2.jpg);">
                  <div class="date text-center">
                    <span>09</span>
                    <small>8/Aug</small>
                  </div>
                </div>
                <div class="desc">
                  <h3><a href="blog-detail.html">酒店3周年活动</a></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="blog-grid" style="background-image: url(images/image-3.jpg);">
                  <div class="date text-center">
                    <span>09</span>
                    <small>8/Aug</small>
                  </div>
                </div>
                <div class="desc">
                  <h3><a href="blog-detail.html">一个新的旅行地在这里等着你</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer id="footer" class="fh5co-bg-color">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="copyright">
                  <p>&copy; 2022 All Rights Reserved.
                  </p>
                  <img src="images/gw.jpg" />
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-3">
                    <h3>快速链接</h3>
                    <ul class="link">
                      <li><a href="index.html">网站首页</a></li>
                      <li><a href="#">房间介绍</a></li>
                      <li><a href="#">服务介绍</a></li>
                      <li><a href="#">新闻中心</a></li>
                      <li><a href="#">联系我们</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <h3>特色服务</h3>
                    <ul class="link">
                      <li><a>餐厅、酒吧</a></li>
                      <li><a>接送、泳池</a></li>
                      <li><a>Spa、健身</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h3>订阅</h3>
                    <p>
                      特色服务和齐全的设施等着你的到来
                    </p>
                    <form action="#" id="form-subscribe">
                      <div class="form-field">
                        <input type="email" placeholder="邮箱" id="email">
                        <input type="submit" id="submit" value="发送">
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </footer>

      </div>
      <!-- END fh5co-page -->

    </div>
    <!-- END fh5co-wrapper -->


  </div>
  <!-- Javascripts -->
  <script src="js/jquery-2.1.4.min.js"></script>
  <!-- Dropdown Menu -->
  <script src="js/hoverIntent.js"></script>
  <script src="js/superfish.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="js/jquery.waypoints.min.js"></script>
  <!-- Counters -->
  <script src="js/jquery.countTo.js"></script>
  <!-- Stellar Parallax -->
  <script src="js/jquery.stellar.min.js"></script>
  <!-- Owl Slider -->
  <!-- // <script src="js/owl.carousel.min.js"></script> -->
  <!-- Date Picker -->
  <script src="js/bootstrap-datepicker.min.js"></script>
  <!-- CS Select -->
  <script src="js/classie.js"></script>
  <script src="js/selectFx.js"></script>
  <!-- Flexslider -->
  <script src="js/jquery.flexslider-min.js"></script>

  <script src="js/custom.js"></script>

  <style>
    .copyrights {
      text-indent: -9999px;
      height: 0;
      line-height: 0;
      font-size: 0;
      overflow: hidden;
    }
  </style>
  <div class="copyrights" id="links20210126">
    Collect from <a href="http://www.cssmoban.com/" title="网站模板">模板之家</a>
    <a href="http://cooco.net.cn/" title="组卷网">组卷网</a>
  </div>

  <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/base.js" type="text/javascript" charset="utf-8"></script>
  <script src="ele/index.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    let vm = new Vue({
      el: '#index',
      data: {
        showLogin: false,
        users: {},
        temp: true,
        lunbos: [],
        one: {},
        types: []
      },
      created () {
        if (sessionStorage.user) {
          this.temp = false;
        } else {
          this.temp = true;
        }
        this.getOne();
      },
      methods: {
        login () {
          location = 'login.html';
        },
        getUrl (photo) {
          return "images/" + photo;
        },
        getOne () {
          axios.post('types/selectList').then(res => {
            this.one = res.data.slice(0, 1)[0];
            // alert(JSON.stringify(this.one))
            this.types = res.data.slice(1, 3);
            // alert(JSON.stringify(this.types))
          })
        },
        info () {
          location = 'hotelinfo.html?tid=' + this.one.tid;
        }
      }
    })
  </script>
</body>

</html>