<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.LianxiDao">
	<resultMap type="com.etc.model.Lianxi" id="li">
		<result property="lxid" column="lxid"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="yijian" column="yijian"/>
		<result property="temp" column="temp"/>
		<result property="userid" column="userid"/>
	</resultMap>
	
 	<insert id="insert" parameterType="lianxi">
 		insert into lianxi values(default,#{name},#{email},#{yijian},1,#{userid})
	</insert>
	
 	<update id="update" parameterType="lianxi">
 		update lianxi set name=#{name},email=#{email},yijian=#{yijian},temp=#{temp} 
 		where lxid=#{lxid}
	</update>
 	
	<delete id="delete" parameterType="int">
		delete from lianxi where lxid=#{lxid}
 	</delete>
 	
	<select id="selectOne" resultMap="li" parameterType="int">
		select * from lianxi where lxid=#{lxid}
 	</select>
 	
	<select id="selectList" resultMap="li">
		select * from lianxi
 	</select>
 	
	<select id="total" resultType="int">
		select count(*) from lianxi
 	</select> 	
 	
	<select id="selectByPage" resultMap="li" parameterType="hashmap">		
		select * from lianxi limit ${min},${max}
 	</select>
 	
	<delete id="deleteList" >
		delete from lianxi where lxid in
		<foreach item="lxid" collection="array" 
		 open="(" close=")" separator=",">
		 #{lxid}
		</foreach>
 	</delete>
 	
	<select id="selectByProperty" resultMap="li" parameterType="hashmap">		
		select * from lianxi where ${pname}=#{val}
 	</select>
 	
</mapper>

